.gifStyle {
  float: left;
  clear: none;
  padding: 20px;
}

.btnStyle {
  margin: 5px;
}

#add-comedian-form {
  margin-top: 20px;
  margin-left: 5px;
  padding: 15px;
  background-color: #17a2b8;
  border-radius: 5px;
  width: 33%;
  color: white;
}

#comedian-gifs-here {
  margin-left: 5px;
}

#comedian-input {
  margin-left: 10px;
}
